<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helloinstantapp.instantapp.examples.chrisyttang.org.feature">

    <application>
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:scheme="http"
                    android:host="csytang.github.io"
                    android:pathPrefix="/hello-instant/" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://csytang.github.io/hello-instant/" />
        </activity>
    </application>

</manifest>